<div id="login-container">
  <%= form_tag "/auth/identity/callback" do %>
    <div class="login-header">
      <h3>Sign in</h3>
    </div>
  
    <div class="login-body">
      
      <% flash.each do |t, notice| %>
        <div class="alert alert-block"> <%= notice %> </div>
      <% end %>
      
			<div class="login-fields">
				<div class="field">
          <%= label_tag :auth_key, "Email" %>
          <%= text_field_tag :auth_key, "", :placeholder => "Email address", :class => "login username-field", :autocomplete => "off" %>
				</div> <!-- /field -->

				<div class="field">
          <%= label_tag :password, "Password"%>
          <%= password_field_tag :password, "", :placeholder => "Password", :class => "login password-field", :autocomplete => "off" %>
				</div> <!-- /password -->
			</div> <!-- /login-fields -->

			<div class="login-actions">
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
			</div> <!-- .actions -->
    </div> <!-- /modal-body -->

  <!-- Text Under Box -->

    <div class="login-footer">
      <%= submit_tag "Sign in", :class => "kd-btn orange large login-btn" %>
      
    	Don't have an account? <%= link_to "Sign Up", signup_url %><br/>
    	Reset <a href="#">Password</a>
    </div> <!-- /modal-footer -->
  <% end %>
</div>